@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto+Slab&family=Rubik:ital,wght@1,500&display=swap');



.footer{
    text-align: center;
    border: 6px solid red;
}

.image{
    display: block;
  margin-left: 500px;
  margin-right: auto;
  width: 50%;
}


header{
    height: 250px;
    background-image:linear-gradient(to top,red,white,green);
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.fullnav{
    border: 18px solid #eee;
    background-image: linear-gradient(to right,green,white,orange);
}
.home{
    margin: 37px;
}
.Gallery{
    margin: 37px;
}
.Contacts{
    margin: 37px;
}
.About_us{
    margin: 37px;
}
.veenavidya{
    text-align: center;
    color:chocolate;
}
.paragraphcontent{
    text-align: center;
    border: 18px solid indianred;
    margin: 0 10px 0 10px;
    height: 300px;
    color: slateblue;
    font-family: 'Roboto Slab', serif;
    
}
a{
    color: red;
    text-decoration: none;
}
